$icon-font-path: '../fonts/';
$border-radius-large: 0;

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

.jumbotron {
  transition: all 0.5s ease;
  body.compact-header & {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(#eceeef, 0.95);
  }
}

#content {
  margin-top: 16em;
}

#book_list {
  .book {
    margin: 0 0 $line-height-base 0;
    text-decoration: none;
    text-align: center;
    color: $body-color;
    cursor: pointer;
    &:hover {
      background-color: $gray-lighter;
    }
    div.title {
      display: table;
      width: 100%;
      margin-bottom: ($line-height-base / 2);
      h3 {
        display: table-cell;
        line-height: 1.1em;
        height: 4.4em;
        text-align: center;
        vertical-align: bottom;
      }
    }
    div.cover {
      padding-top: 175%;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
      }
    }
  }
}