$icon-font-path: '../fonts/';
$border-radius-large: 0;
$headings-font-family: 'Slabo 27px';
$headings-font-weight: 400;
$font-family-sans-serif: 'Open Sans Condensed', sans-serif;
$font-weight-normal:300;

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Slabo+27px');


.jumbotron {
  &, p.lead, h1 {
    transition: all 0.5s ease;
  }
  p.lead {
    height: 1.875em;
    overflow: hidden;
    opacity: 1;
  }
  body.compact-header & {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(#eceeef, 0.95);
    p.lead {
      height: 0;
      margin:0;
      opacity: 0;
    }
    h1 {
      margin: 0;
    }
  }
}

#content {
  margin-top: 16em;
  transition: all 0.5s ease;
  body.compact-header & {
    margin-top: 4em;
  }
}

#book_list {
  .book {
    margin: 0 0 $line-height-base 0;
    text-decoration: none;
    text-align: center;
    color: $body-color;
    cursor: pointer;
    &:hover {
      background-color: $gray-lighter;
    }
    div.title {
      display: table;
      width: 100%;
      margin-bottom: 1rem;
      h3 {
        display: table-cell;
        line-height: 1.1em;
        height: 4.4em;
        text-align: center;
        vertical-align: bottom;
      }
    }
    div.cover {
      padding-top: 175%;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
      }
    }
  }
}